use Supers::Schema;
Supers::Schema->init;
use Data::Dumper;
use v5.10;
use utf8;
use lib './lib';
load_plugin qw( 
    Colors
    ReadLineHistory
    DDP
    MultiLine::PPI
    Completion
    CompletionDriver::Keywords
    CompletionDriver::LexEnv
    CompletionDriver::Methods
    CompletionDriver::INC
    CompletionDriver::Globals
);
